.apartment {
  position: relative;
  margin: 0 auto 255px;
  padding: 169px 15px 0;

  &__frame{
    position: relative;
    width: 100%;
    transition: opacity .3s ease, visibility .3s ease;
  }

  &__info-frame{
    width: 100%;
    margin-bottom: 23px;
  }

  &__title{
    margin-bottom: 25px;
    color: #fff;
    font-size: 27px;
    line-height: 33px;
    @include malva-bold;

    &:first-letter{
      text-transform: uppercase;
    }

  }

  &__price{
    margin: 11px 45px 0 0;
    color: #d7d7d7;
    font-size: 32px;
    @include malva-bold;
  }

  &__content{
    position: relative;
    max-width: 614px;
    margin-bottom: 25px;
    padding-top: 25px;
    color: #d7d7d7;
    @include malva-regular;
    font-size: 16px;
    line-height: 26px;

    p, span{
      display: block;
      color: inherit!important;
      font-size: inherit!important;
      line-height: inherit!important;
    }

    &:before{
      position: absolute;
      top: 0;
      left: 4px;
      height: 2px;
      width: 93px;
      background-color: #4e4e4e;
      content: '';
    }

  }

  &__info{

    li{
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-bottom: 34px;
      color: #d7d7d7;
      @include malva-regular;
      font-size: 18px;

      img{
        width: 46px;
        margin-right: 27px;
      }

      sub{
        position: relative;
        top: -4px;
        font-size: 12px;
      }

    }

  }

  &__prev{
    display: block;
    position: relative;
    margin-bottom: 25px;
    padding-left: 19px;
    color: #8f8f8f;
    @include malva-regular;
    font-size: 14px;
    line-height: 17px;

    &:before{
      content: '';
      position: absolute;
      top: 5px;
      left: 0;
      width: 6px;
      height: 6px;
      border-top: 1px solid #8f8f8f;
      border-left: 1px solid #8f8f8f;
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
      -webkit-transition: left .3s ease;
      transition: left .3s ease;
    }

    &:hover{

      &:before{
        left: -21px;
      }

    }

  }

  &__btn-frame{
    width: 100%;
  }

  &__btn-frame{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
  }

  &__btn{
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    height: 53px;
    width: 100%;
    margin: 0 12px 15px 0;
    padding: 0 10px 0 15px;
    background-color: #171717;
    color: #fff;
    font-size: 13px;
    @include malva-regular;
    text-transform: uppercase;
    overflow: hidden;
    white-space: nowrap;

    svg{
      position: relative;
      height: 27px;
      fill: #f201f2;
      z-index: 2;
    }

    span{
      position: relative;
      padding-left: 10px;
      z-index: 1;
    }

  }

}

.loading{

  .apartment {
    padding-bottom: 200px;

    &__frame{
      position: absolute;
      opacity: 0;
      visibility: hidden;
    }

  }

  .loader{
    opacity: 1;
  }

  .gallery{
    padding-bottom: 200px;
  }

}

.noResults{

  .apartment {
    padding-bottom: 200px;

    &__frame{
      position: absolute;
      opacity: 0;
      visibility: hidden;
    }

  }

  .gallery{
    padding-bottom: 200px;
  }

  .no-results{
    display: block;
    opacity: 1;
    visibility: visible;
  }

}

.no-results{
  color: #fff;
  font-size: 27px;
  line-height: 33px;
  @include malva-bold;
  display: none;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity .3s ease, visibility .3s ease;
  transition: opacity .3s ease, visibility .3s ease;
}

@media (min-width: $phone-landscape) {

  .apartment {

    &__btn{
      width: auto;
    }

  }

}

@media (min-width: $tablet-portrait) {

  .apartment {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1138px;
    padding: 200px 20px 0 161px;

    &__frame{
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-items: flex-start;
    }

    &__title{
      max-width: 545px;
      font-size: 48px;
      line-height: 56px;
    }

    &__info-frame{
      margin-bottom: 53px;
    }

    &__prev{
      position: absolute;
      top: 147px;
      left: -123px;
      width: 98px;
      margin-bottom: 0;
      padding-left: 0;

      &:before{
        top: 11px;
        left: -19px;
      }

    }

    &__content{
      margin: 0 0 25px -4px;
      padding-top: 55px;
      padding-right: 25px;
    }

    &__btn{
      margin: 0 12px 0 0;
      padding: 0 15px 0 23px;

      span {
        padding: 0 22px;
      }

    }

  }

  .loading, .noResults{

    .gallery{
      padding-bottom: 230px;
    }

  }

  .no-results{
    max-width: 545px;
    font-size: 48px;
    line-height: 56px;
  }

}

@media (min-width: $desktop) {

  .apartment {
    padding: 269px 0 0 161px;

    &__info-frame{
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      margin-bottom: 53px;
    }

    &__info{
      width: 229px;
    }

    &__title{
      margin-bottom: 0;
    }

    &__content {
      margin-bottom: 25px;
      padding-right: 0;
    }

    &__btn{
      -webkit-transition: background-color .3s ease;
      transition: background-color .3s ease;

      &:hover{
        background-color: #080808;
      }

    }

    &__prev{
      left: -138px;
    }

  }

  .loading, .noResults{

    .gallery{
      padding-bottom: 320px;
    }

  }

}