.catalog {

  &__item{
    display: block;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
  }

  &__topic{
    position: absolute;
    top: 50%;
    left: 50%;
    color: #fff;
    @include malva-bold;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 4px;
    -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0);
    transform: translateX(-50%) translateY(-50%) translateZ(0);
  }

  img{
    display: block;
    width: 100%;
  }

}

@media (min-width: $phone-landscape) {

  .catalog {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
  }

}

@media (min-width: $tablet-portrait) {

  .catalog {
    position: relative;
    width: 90%;
    margin: -107px auto 0;
    max-width: 946px;
    z-index: 2;

    &__item{
      display: flex;
      align-items: center;
      width: 49%;
      height: 157px;
    }

  }

}

@media (min-width: $desktop) {

  .catalog {
    width: 60%;

    &__topic{
      -webkit-transition: font-size .5s ease;
      transition: font-size .5s ease;
    }

    &__item{

      img{
        -webkit-transition: transform 2s ease;
        transition: transform 2s ease;
      }

      &:hover {

        img {
          -webkit-transform: scale(1.1);
          transform: scale(1.1);
        }

        .catalog__topic{
          font-size: 22px;
        }

      }

    }

  }

}