.loader {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 59px;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  -webkit-transition: opacity .3s ease;
  transition: opacity .3s ease;
  width: 82px;
  height: 82px;
  opacity: 0;
  overflow: hidden;
  z-index: 99;

  span{
    position: absolute;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-direction: normal;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    animation-play-state: running;
    background-color: #e1e1e1;
  }

  &_1{
    top: 0;
    left: 50%;
    height: 3px;
    animation-name: preloader-1;
    animation-duration: 1s;
  }

  &_2{
    top: 0;
    right: 0;
    width: 3px;
    animation-name: preloader-2;
  }

  &_3{
    left: 0;
    bottom: 0;
    height: 3px;
    animation-name: preloader-3;
  }

  &_4{
    top: 0;
    left: 0;
    width: 3px;
    animation-name: preloader-4;
  }

  &_5{
    top: 0;
    left: 0;
    height: 3px;
    animation-name: preloader-5;
    animation-duration: 1s;
  }

}