.logo {
  position: absolute;
  top: 10px;
  left: 50%;
  width: 100px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);

  svg{
    display: block;
    width: 100%;
    enable-background: new 0 0 115 114.3;

    .st1{fill:#F7C059;}
    .st2{fill:#fff;}

  }

}

@media (min-width: $tablet-portrait) {

  .logo {
    top: 16px;
    width: 141px;
  }

}